<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- 
         The directory for an instance is created in C:\data and has db as prefix.
         For example, C:\data\db_27018 where 27018 is the port number.
    -->
    <add key="DatabaseDirectory" value="D:\data\db"/>
  </appSettings>
</configuration>
